<div class="message-wrapper">

    <div class="me message col-xs-12 col-md-10 offset-md-2">

        <div class="message-body-wrapper">
            <div class="message-body" style="background-color: {{ messageColor }};">{{ message }}</div>
        </div>

        <div class="message-author" title={{ author }} on {{ date }}">
            <span class="author" style="color: {{ authorColor }};">{{ author }}</span>
            <!--<span class="particle">on</span>-->
            <!--<span class="date">{{ date }}</span>-->
        </div>

    </div>

</div>
