<div class="row pane-fullscreen">
  <div class="d-inline-block col-12 col-lg-7 col-md-6 pr-md-0">
    <div class="pane pane-left">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-10 col-12 text-center ml-auto mr-auto">
            <img src="assets/img/logos/logo.png" alt="battleship 2 logo" width="68" class="mb-3">
            <h4 class="mb-4">
              Log into B&aring;ttleship 2
            </h4>

            <div class="alert alert-danger text-left" *ngIf="!providerTriggered && errorLogIn">
              <strong>Oopsy...</strong>
              {{ errorLogIn.message }}
            </div>

            <div class="alert alert-info text-left" *ngIf="providerTriggered && !errorLogIn">
              Please wait while we log you in...
            </div>

            <form class="user-data-form" #logInForm="ngForm">
              <div class="form-group p-relative">
                <div class="input-group">
                  <input type="email" name="user-email" autofocus autocomplete="true" tabindex="1" #userEmail="ngModel"
                         class="form-control" id="user-email" required [(ngModel)]="user.email" [pattern]="emailPattern"
                         [class.not-empty]="!isEmpty(userEmail.value)">
                  <label for="user-email">Email</label>
                </div>
              </div>

              <div class="form-group p-relative">
                <a class="reset-password cursor-pointer" routerLink="/reset-password" title="Forgot your password?" tabindex="4"
                   data-toggle="tooltip" data-placement="top">
                  <md-icon svgIcon="help_outline_svg"></md-icon>
                </a>

                <div class="input-group">
                  <input type="password" name="user-password" autocomplete="true" tabindex="2" #userPassword="ngModel"
                         class="form-control pr-5" id="user-password" required [(ngModel)]="user.password"
                         [class.not-empty]="!isEmpty(userPassword.value)">
                  <label for="user-password">Password</label>
                </div>
              </div>

              <div class="form-group p-relative">
                <button [disabled]="providerTriggered === 4 || !logInForm.form.valid" (click)="submit(4, user)"
                        class="btn btn-dark btn-lg btn-block text-uppercase btn-submit cursor-pointer" tabindex="3">
                  <ng-container *ngIf="providerTriggered === 4">
                    <div class="loading-spinner">
                      <svg viewBox="0 0 64 64">
                        <circle transform="translate(32,32)" r="26"></circle>
                      </svg>
                    </div>
                  </ng-container>
                  Log in
                </button>
              </div>
            </form>

            <p>
              <small>
                Don't have an account? <a routerLink="/sign-up" tabindex="5">Sign up</a>.
              </small>
            </p>

            <div class="row mb-3">
              <div class="col-5 pr-0"><hr></div>

              <div class="col-2 px-0 pt-1">
                <small class="text-muted">OR</small>
              </div>

              <div class="col-5 pl-0"><hr></div>
            </div>

            <form class="user-data-form">
              <div class="form-group p-relative">
                <button class="btn btn-facebook btn-lg btn-submit btn-icon cursor-pointer"
                        tabindex="6" (click)="submit(2)" title="Log in with Facebook"
                        [disabled]="providerTriggered === 2"
                        data-toggle="tooltip" data-placement="top">
                  <img src="assets/img/logos/fb.png" alt="facebook logo" width="25">
                </button>

                <button class="btn btn-github btn-lg btn-submit btn-icon cursor-pointer" title="Log in with Github"
                        [disabled]="providerTriggered === 0"
                        data-toggle="tooltip" data-placement="top"
                        tabindex="7" (click)="submit(0)">
                  <img src="assets/img/logos/github.png" alt="github logo" width="25">
                </button>

                <button class="btn btn-google btn-lg btn-submit btn-icon cursor-pointer" title="Log in with Google"
                        [disabled]="providerTriggered === 3"
                        data-toggle="tooltip" data-placement="top"
                        tabindex="8" (click)="submit(3)">
                  <img src="assets/img/logos/google.png" alt="google plus logo" width="25">
                </button>

                <button class="btn btn-twitter btn-lg btn-submit btn-icon cursor-pointer" title="Log in with Twitter"
                        [disabled]="providerTriggered === 1"
                        data-toggle="tooltip" data-placement="top"
                        tabindex="9" (click)="submit(1)">
                  <img src="assets/img/logos/twitter.png" alt="twitter logo" width="25">
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-inline-block hidden-sm-down col-lg-5 col-md-6 pl-md-0">
    <div class="pane-background"></div>
    <div class="pane pane-right">
      <div class="container">
        <div class="row align-items-center">
          <div class="pane-body">
            <div class="col-12 mb-5">
              <h4>Join the war now!</h4>
            </div>

            <div class="col-12">
              <ul class="pane-motto">
                <li>
                  <md-icon svgIcon="history_svg"></md-icon>
                  <h6>Unlimited access</h6>
                </li>
                <li>
                  <md-icon svgIcon="explore_svg"></md-icon>
                  <h6>Discover new tactics</h6>
                </li>
                <li>
                  <md-icon svgIcon="build_svg"></md-icon>
                  <h6>Engineer your destiny</h6>
                </li>
                <li>
                  <md-icon svgIcon="compare_arrows_svg"></md-icon>
                  <h6>Fight relentless enemies</h6>
                </li>
                <li>
                  <md-icon svgIcon="extension_svg"></md-icon>
                  <h6>Play the way you always wanted to</h6>
                </li>
                <li>
                  <md-icon svgIcon="favorite_svg"></md-icon>
                  <h6>Amaze yourself with incredible strategies</h6>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
