<div class="row pane-fullscreen">
  <div class="col col-md-7 pr-sm-0">
    <div class="pane pane-left">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-8 col-md-10 col text-center ml-auto mr-auto">
            <img src="assets/img/logos/logo.png" alt="battleship 2 logo" width="68" class="mb-3">
            <h4 class="mb-4">
              Log into B&aring;ttleship 2
            </h4>

            <div class="alert alert-danger text-left" *ngIf="!submitted && errorLogIn">
              <strong>Oopsy...</strong> {{ errorLogIn.message }}
            </div>

            <div class="alert alert-info text-left" *ngIf="submitted && !errorLogIn">
              Please wait while we log you in...
            </div>

            <form class="user-data-form" #logInForm="ngForm">
              <div class="form-group p-relative">
                <div class="input-group">
                  <input type="email" name="user-email" autofocus autocomplete="true" #userEmail="ngModel"
                         class="form-control" id="user-email" required [(ngModel)]="credentials.email" [pattern]="emailPattern"
                         [class.not-empty]="!isEmpty(userEmail.value)">
                  <label for="user-email">Email</label>
                </div>
              </div>

              <div class="form-group p-relative">
                <a class="reset-password cursor-pointer" routerLink="/reset-password" title="Forgot your password?"
                   data-toggle="tooltip" data-placement="top">
                  <md-icon svgIcon="help_outline_svg"></md-icon>
                </a>

                <div class="input-group">
                  <input type="password" name="user-password" autocomplete="true" #userPassword="ngModel"
                         class="form-control pr-5" id="user-password" required [(ngModel)]="credentials.password"
                         [class.not-empty]="!isEmpty(userPassword.value)">
                  <label for="user-password">Password</label>
                </div>
              </div>

              <div class="form-group p-relative">
                <button [disabled]="submitted || !logInForm.form.valid" (click)="submit('Password', credentials)"
                        class="btn btn-dark btn-lg btn-block text-uppercase btn-submit cursor-pointer"
                        [class.btn-submitted]="submitted">

                  <ng-container *ngIf="submitted">
                    <div class="loading-spinner">
                      <svg viewBox="0 0 64 64">
                        <circle transform="translate(32,32)" r="26"></circle>
                      </svg>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="!submitted">
                    Log in
                  </ng-container>
                </button>
              </div>
            </form>

            <p>
              <small>
                Don"t have an account? <a routerLink="/sign-up">Sign up</a>.
              </small>
            </p>

            <div class="row mb-3">
              <div class="col-5 pr-0"><hr></div>

              <div class="col-2 px-0 pt-1">
                <small class="text-muted">OR</small>
              </div>

              <div class="col-5 pl-0"><hr></div>
            </div>

            <bsc-log-in-options
              emailLink="/log-in"
              phoneLink="/log-in-with-phone-number"
              [ignore]="ignoredOptions"
              (selectedOption)="submit($event)"></bsc-log-in-options>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden-xs-down col col-md-5 pl-sm-0">
    <div class="pane-background"></div>
    <div class="pane pane-right">
      <div class="container">
        <div class="row align-items-center">
          <div class="pane-body">
            <bsc-game-motto></bsc-game-motto>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
