// ------------------------
//
// IMPORTS
//
// ------------------------
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../styleguide/variables/variables";

// ------------------------
//
// STYLES
//
// ------------------------
.reset-password {
  top: 12px;
  right: 14px;
  z-index: 4;
  outline: none;
  position: absolute;

  /deep/ svg {
    fill: $bs-color-black-light;
  }

  &:hover {
    /deep/ svg {
      fill: $bs-color-blue-green;
    }
  }
}

// ------------------------
//
// RESPONSIVE BREAKPOINTS
//
// ------------------------
@include media-breakpoint-up(md) {

}
