// ------------------------
//
// IMPORTS
//
// ------------------------
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../styleguide/variables/variables";

// ------------------------
//
// STYLES
//
// ------------------------
.bs-app {
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

.bs-body {
  background-color: $bs-color-white;
}

// ------------------------
//
// RESPONSIVE BREAKPOINTS
//
// ------------------------
@include media-breakpoint-up(md) {
}
