<!--<div class="people-list">-->
    <!--<div class="people-indicator">-->
        <!--<span class="number-of-people-in-chat">{{ numberOfPeople }}</span>-->
        <!--<span>people in chat</span>-->
    <!--</div>-->
    <!--<ul class="people-nicknames">{{ nicknames }}</ul>-->
<!--</div>-->

<div class="float-xs-right people-indicator" data-toggle="tooltip" data-placement="top" title="38 people in chat - Click for detailed information">
    <span>38</span>
    <i class="material-icons float-xs-right">person</i>
</div>
