<div class="col-12 mb-5">
  <h4>Join the war now!</h4>
</div>

<div class="col-12">
  <ul class="pane-motto">
    <li>
      <md-icon svgIcon="history_svg"></md-icon>
      <h6>Unlimited access</h6>
    </li>
    <li>
      <md-icon svgIcon="explore_svg"></md-icon>
      <h6>Discover new tactics</h6>
    </li>
    <li>
      <md-icon svgIcon="build_svg"></md-icon>
      <h6>Engineer your destiny</h6>
    </li>
    <li>
      <md-icon svgIcon="compare_arrows_svg"></md-icon>
      <h6>Fight relentless enemies</h6>
    </li>
    <li>
      <md-icon svgIcon="extension_svg"></md-icon>
      <h6>Play the way you always wanted to</h6>
    </li>
    <li>
      <md-icon svgIcon="favorite_svg"></md-icon>
      <h6>Amaze yourself with incredible strategies</h6>
    </li>
  </ul>
</div>
