$bs-color-gray:         #e3e5e7;
$bs-color-gray-light:   #f5f7f9;
$bs-color-white:        #ffffff;
$bs-color-white-dark:   #f8f8ff;
$bs-color-oil:          #5c666f;
$bs-color-black:        #222228;
$bs-color-black-light:  lighten($bs-color-black, 15%);
$bs-color-blue-green:   #13818D;
$bs-color-red:          #E8271D;
$bs-color-green:        #16B42A;
$bs-color-green-light:  lighten($bs-color-green, 15%);

$bs-color-google:       #DD4E42;
$bs-color-github:       #24292E;
$bs-color-twitter:      #1DA1F2;
$bs-color-facebook:     #3B5998;
