battleship-setup {
    .github-logo {
        left: 8px;
        bottom: 4px;
        z-index: 1000;
        position: absolute;
    }

    .card {
        height: 500px;
        background-color: #fafafa;

        .card-header {
            h1 {
                position: relative;
                font-size: 2rem;
            }

            h2 {
                position: relative;
            }

            &.card-header-background {
                position: relative;
                background: url("../img/bg-setup.jpg") no-repeat;
                background-size: cover;
                background-position-y: 70%;
            }

            .card-header-tabs {
                position: relative;
                margin-left: 30px;

                .nav-link {
                    cursor: pointer;
                    padding: .5rem;
                    border-bottom: 0;

                    &.active {
                        color: rgba($bs-black, .9) !important;
                        background-color: #fafafa;
                    }
                }
            }
        }

        .card-block {
            padding: 1rem;

            label {
                width: 100%;

                i {
                    top: 2px;
                    float: right;
                    cursor: pointer;
                    position: relative;
                }
            }

            .separator {
                width: 100%;
            }

            .games-list {
                width: 100%;
                max-height: 220px;
                margin-top: -8px;
                margin-bottom: -10px;

                .war-item {
                    height: 36px;
                    padding: .5rem;
                    position: relative;

                    &:hover {
                        cursor: pointer;

                        //$gradient-color-start: #0275d8;
                        $gradient-color-start: #f0ad4e;
                        $gradient-opacity-start: .2;
                        $gradient-color-end: #007db9;
                        $gradient-opacity-end: 0;
                        background: -moz-linear-gradient(left, rgba($gradient-color-start, $gradient-opacity-start) 0%, rgba($gradient-color-end, $gradient-opacity-end) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(left, rgba($gradient-color-start, $gradient-opacity-start) 0%, rgba($gradient-color-end, $gradient-opacity-end) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to right, rgba($gradient-color-start, $gradient-opacity-start) 0%, rgba($gradient-color-end, $gradient-opacity-end) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$gradient-color-start}', endColorstr='#{$gradient-color-end}', GradientType=1); /* IE6-9 */

                    }

                    div {
                        display: inline-block;

                        .material-icons {
                            float: left;
                            font-size: 20px;
                            margin-right: .5rem;
                        }

                        &.people {
                            float: right;
                        }

                        &.name {
                            float: left;
                            max-width: 74%;
                        }
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid rgba($bs-black, .2);
                    }
                }
            }
        }

        .card-footer {
            width: 100%;
            bottom: 0;
            border: none;
            padding: 0;
            position: absolute;
            background: none;

            .btn {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}
