.commands {
    ul {
        list-style-type: none;

        li:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    button {
        &, &:disabled {
            &, &:hover, &:active, &:focus {
                border: 1px solid $bs-white;
            }
        }
    }
}
