<div class="counters">
    <div class="card card-block text-xs-center card-inverse card-darken">
        <div class="row">
            <div class="col-xs-4">
                <div class="counter mb-1" id="bombs-counter"></div>
                <p class="bebas-neue mb-0">Bombs dropped</p>
            </div>

            <div class="col-xs-4">
                <div class="counter mb-1" id="hits-counter"></div>
                <p class="bebas-neue mb-0">Hits</p>
            </div>

            <div class="col-xs-4">
                <div class="counter mb-1" id="ships-destroyed-counter"></div>
                <p class="bebas-neue mb-0">Ships destroyed</p>
            </div>
        </div>
    </div>
</div>
