// ------------------------
//
// IMPORTS
//
// ------------------------
@import "variables/variables";

// ------------------------
//
// STYLES
//
// ------------------------
.user-data-form {
  input {
    color: $bs-color-black;
    height: 48px;
    border: 1px solid $bs-color-gray;
    transition: .15s border-color;
    box-shadow: inset 0 1px 5px rgba($bs-color-black, .08);
    padding-top: 23px;
    padding-left: 15px;
    border-radius: 2px;
    padding-bottom: 5px;

    &:hover {
      border-color: $bs-color-blue-green;
    }

    & + label {
      top: 12px;
      left: 16px;
      cursor: text;
      z-index: 4;
      position: absolute;
      transition: .15s top,.15s font-size;
      font-weight: 400;

      &, &:hover {
        color: #bdc3cd;
      }
    }

    &:focus + label, &.not-empty + label {
      top: 5px;
      font-size: 11px;
      font-weight: 400;
    }

    &.ng-valid:not(.ng-pristine) {
      border: 1px solid $bs-color-green;

      & + label, & + label:hover {
        color: $bs-color-green;
      }
    }

    &.ng-invalid:not(.ng-pristine) {
      border: 1px solid $bs-color-red;

      & + label, & + label:hover {
        color: $bs-color-red;
      }
    }
  }

  .btn-submit {
    font-size: 1.2rem;
    border-radius: 2px;

    .loading-spinner {
      height: 35px;
      width: 35px;
      position: absolute;
      left: 10px;
      top: -1px;
    }
  }

  .btn-icon {
    padding: 1rem;
  }
}

// ------------------------
//
// RESPONSIVE BREAKPOINTS
//
// ------------------------
