// ------------------------
//
// IMPORTS
//
// ------------------------
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "variables/variables";

// ------------------------
//
// STYLES
//
// ------------------------
* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Segoe UI", Roboto, sans-serif;
}

html, body {
  height: 100vh;
  background-color: $bs-color-white-dark;
}

.cursor-pointer {
  cursor: pointer;
}

.text-really-small {
  font-size: 65%;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  margin: .5rem;
  display: inline-block;
  position: relative;

  svg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: loading-spinner-rotate 600ms linear infinite;

    &:not(:root) {
      overflow: hidden;
    }

    circle {
      fill: transparent;
      stroke: white;
      stroke-width: 4px;
      stroke-dasharray: 128px;
      stroke-dashoffset: 82px;
    }
  }
}

@keyframes loading-spinner-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// ------------------------
//
// RESPONSIVE BREAKPOINTS
//
// ------------------------
@include media-breakpoint-up(md) {
  html, body {
    overflow-y: hidden;
  }
}
