// ------------------------
//
// IMPORTS
//
// ------------------------
@import "variables/variables";

// ------------------------
//
// STYLES
//
// ------------------------
* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Segoe UI", Roboto, sans-serif;
}

html, body {
  height: 100vh;
  overflow-y: hidden;
  background-color: $bs-color-white-dark;
}

.cursor-pointer {
  cursor: pointer;
}
