/**
 * Placeholder color
 *
 * Removes the pain of manually styling an input placeholder.
 * For example:
 *
 * :-moz-placeholder           { color: #ffffff; opacity: .5; }
 * ::-moz-placeholder          { color: #ffffff; opacity: .5; }
 * :-ms-input-placeholder      { color: #ffffff; opacity: .5; }
 * ::-webkit-input-placeholder { color: #ffffff; opacity: .5; }
 *
 * Will become:
 *
 * @include placeholder-color(#ffffff);
 */
@mixin placeholder-color($color) {
    &:-moz-placeholder           { color: #{$color}; opacity: .5; } /* Mozilla Firefox 4 to 18 */
    &::-moz-placeholder          { color: #{$color}; opacity: .5; } /* Mozilla Firefox 19+ */
    &:-ms-input-placeholder      { color: #{$color}; opacity: .5; } /* Internet Explorer 10-11 */
    &::-webkit-input-placeholder { color: #{$color}; opacity: .5; } /* WebKit, Blink, Edge */
}
