// ------------------------
//
// IMPORTS
//
// ------------------------
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../styleguide/variables/variables";

// ------------------------
//
// STYLES
//
// ------------------------
#user-account-zone {
  height: 56px;

  .connection-form {
    padding-top: 9px;
  }
}

.navbar {
  height: $bs-header-height;
  z-index: 10000;

  &.bg-faded {
    background-color: transparent;
  }

  &.bg-inverse {
    background: $bs-color-black linear-gradient(to right bottom, $bs-color-black 0%, $bs-color-black-light 100%);
  }
}

.nav-title {
  top: 2px;
  position: relative;
}

.user-anonymous {
  width: 40px;
  height: 40px;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  margin: .5rem;
  display: inline-block;
  position: relative;

  svg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: loading-spinner-rotate 600ms linear infinite;

    &:not(:root) {
      overflow: hidden;
    }

    circle {
      fill: transparent;
      stroke: white;
      stroke-width: 4px;
      stroke-dasharray: 128px;
      stroke-dashoffset: 82px;
    }
  }
}

@keyframes loading-spinner-rotate {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dropdown {
  .dropdown-menu {
    top: 36px;
    margin: 0;
    padding: 0;
    border-top: 0;
    background-color: $bs-color-black-light;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .dropdown-header {
      letter-spacing: .5px;
      color: rgba($bs-color-white-dark, .8);
    }

    .dropdown-divider {
      margin: 0;
    }

    .dropdown-item {
      color: $bs-color-white;
      padding: 10px 1.5rem;

      &:hover {
        color: $bs-color-black-light;
        background-color: $bs-color-white;

        &.dropdown-item-danger {
          color: $bs-color-white;
          background-color: $red;
        }
      }
    }
  }
}
