<nav class="navbar navbar-toggleable-xl navbar-inverse bg-inverse">

  <a class="navbar-brand" href="/">
    <img src="assets/img/logos/logo.svg" width="50" height="50" alt="battleship 2 logo" class="d-inline-block align-middle">
    <span class="nav-title">B&aring;ttleship 2</span>
  </a>

  <div class="navbar-nav ml-auto" *ngIf="isUserAuthenticated && !userData['anonymous']">
    <a class="nav-item mr-0" href="/">
      <img src="{{ userData.photoURL }}" *ngIf="userData.photoURL" width="50" height="50" class="d-inline-block align-middle rounded-circle">
    </a>
  </div>

</nav>
