// ------------------------
//
// IMPORTS
//
// ------------------------
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../styleguide/variables/variables";

// ------------------------
//
// STYLES
//
// ------------------------
#user-account-zone {
  height: 56px;

  .connection-form {
    padding-top: 9px;
  }
}

.navbar {
  height: $bs-header-height;
  z-index: 10000;

  &.bg-faded {
    background-color: transparent;
  }

  &.bg-inverse {
    background: $bs-color-black linear-gradient(to right bottom, $bs-color-black 0%, $bs-color-black-light 100%);
  }
}

.nav-title {
  top: 2px;
  position: relative;
}

.user-anonymous {
  width: 40px;
  height: 40px;
}

.dropdown {
  .dropdown-menu {
    top: 36px;
    margin: 0;
    padding: 0;
    border-top: 0;
    background-color: $bs-color-black-light;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .dropdown-header {
      letter-spacing: .5px;
      color: rgba($bs-color-white-dark, .8);
    }

    .dropdown-divider {
      margin: 0;
    }

    .dropdown-item {
      color: $bs-color-white;
      padding: 10px 1rem;

      .mat-icon {
        float: left;
        margin-right: 1rem;

        /deep/ svg {
          fill: $bs-color-white;
        }
      }

      &:hover {
        color: $bs-color-black-light;
        background-color: $bs-color-white;

        &:not(.dropdown-item-danger) .mat-icon /deep/ svg {
          fill: $bs-color-black-light;
        }

        &.dropdown-item-danger {
          color: $bs-color-white;
          background-color: $red;
        }
      }
    }
  }
}
