// ------------------------
//
// IMPORTS
//
// ------------------------
@import "../../../styleguide/variables/variables";

// ------------------------
//
// STYLES
//
// ------------------------

#user-account-zone {
  height: 56px;

  .user-menu {
    cursor: pointer;
  }

  .connection-form {
    padding-top: 9px;
  }
}

.navbar {
  &.bg-faded {
    background-color: $bs-color-white-dark;
  }

  &.bg-inverse {
    background: $bs-color-black linear-gradient(to right bottom, $bs-color-black 0%, lighten($bs-color-black, 15%) 100%);
  }
}

.nav-title {
  top: 2px;
  position: relative;
}

.user-anonymous {
  width: 40px;
  height: 40px;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  margin: .5rem;
  display: inline-block;
  position: relative;

  svg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(0);
    animation: loading-spinner-rotate 600ms linear infinite;

    &:not(:root) {
      overflow: hidden;
    }

    circle {
      fill: transparent;
      stroke: white;
      stroke-width: 4px;
      stroke-dasharray: 128px;
      stroke-dashoffset: 82px;
    }
  }
}

@keyframes loading-spinner-rotate {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dropdown {
  .dropdown-menu {
    top: 33px;
  }
}
