<nav class="navbar navbar-toggleable-xl"

     [class.bg-inverse]="!transparentHeader"
     [class.navbar-inverse]="!transparentHeader"

     [class.bg-transparent]="transparentHeader"
     [class.navbar-light]="transparentHeader">

  <a class="navbar-brand navbar-left-{{ leftPartMode }}" routerLink="/pick-your-battle">
    <img src="assets/img/logos/logo.png" width="40" height="40" alt="battleship 2 logo" class="d-inline-block align-middle mr-2">
    <span class="nav-title hidden-sm-down">B&aring;ttleship 2</span>
    <span class="nav-title hidden-md-up">BS 2</span>
  </a>

  <div class="navbar-nav navbar-left-{{ leftPartMode }} mr-auto" id="rank-board-zone" [ngClass]="{'hidden-xs-down': !userAuthenticated}">
    <a routerLink="/rank-board" routerLinkActive="active" class="nav-item nav-link">Scores</a>
    <a href="https://github.com/battleship2" target="_blank" class="nav-item nav-link">Github</a>
  </div>

  <div class="navbar-nav ml-auto navbar-right-{{ rightPartMode }}" [ngSwitch]="userAuthenticated" id="user-account-zone">
    <ng-container *ngSwitchCase="true">
      <a class="nav-link nav-item mr-0 user-menu cursor-pointer" [ngSwitch]="userData.photoURL" (mouseenter)="showUserMenu()">
        <span class="sr-only">User menu</span>
        <img src="{{ userData.photoURL }}" *ngSwitchDefault width="40" height="40" class="d-inline-block align-middle rounded-circle">
        <md-icon svgIcon="person_pin_svg" class="user-anonymous" *ngSwitchCase="null"></md-icon>
      </a>
    </ng-container>

    <ng-container *ngSwitchCase="false">
      <div class="connection-form">
        <a routerLink="/log-in" routerLinkActive="hidden-xl-down" class="btn btn-link mr-auto">
          Log in
        </a>

        <a routerLink="/sign-up" routerLinkActive="hidden-xl-down" class="btn">
          Sign up
        </a>
      </div>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <div class="loading-spinner">
        <svg viewBox="0 0 64 64">
          <circle transform="translate(32,32)" r="26"></circle>
        </svg>
      </div>
    </ng-container>
  </div>

  <div class="dropdown" [class.show]="userAuthenticated && userMenuVisible" (mouseleave)="hideUserMenu()" (click)="hideUserMenu()">
    <div class="dropdown-menu dropdown-menu-right">
      <h6 class="dropdown-header text-center">
        Signed in as {{ getUserName() }}
      </h6>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/">
        <md-icon svgIcon="perm_identity_svg"></md-icon>
        My account
      </a>
      <a class="dropdown-item" href="/">
        <md-icon svgIcon="settings_svg"></md-icon>
        Settings
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item dropdown-item-danger cursor-pointer" (click)="signOut()">
        <md-icon svgIcon="power_settings_new_svg"></md-icon>
        Sign out
      </a>
    </div>
  </div>

</nav>
