<chat class="hidden-sm-down"></chat>

<div class="container">
    <div class="row">
        <div class="col-xs-12 hidden-md-up">
            <commands></commands>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-8 text-xs-center">
            <canvas id="battlefield" class="battlefield hidden" width="600" height="600"></canvas>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">
            <counters></counters>
            <commands class="hidden-sm-down"></commands>
        </div>
    </div>
</div>
