<div class="container animated fadeIn">
    <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">

            <div class="card">
                <div class="card-header text-xs-center card-header-background card-inverse">
                    <a href="https://github.com/battleship2" class="github-logo float-xs-right" target="_blank"
                       data-toggle="tooltip" data-placement="left" title="Battleship 2.0 on Github">
                        <svg width="25" height="25" version="1.1" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                        </svg>
                    </a>

                    <h1 class="bebas-neue mb-1">&mdash; Battleship 2.0 &mdash;</h1>
                    <h2 class="bebas-neue mb-1 hidden-xs-down">There will be blood</h2>

                    <ul class="nav nav-tabs card-header-tabs float-xs-left" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#public-wars" role="tab">Public Wars</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#create-war" role="tab">Create a War</a>
                        </li>
                    </ul>
                </div>

                <div class="card-block tab-content">
                    <form class="col-xs-12 tab-pane fade in active" id="public-wars" role="tabpanel">
                        <div class="form-group">
                            <label for="pick-war" class="card-text bebas-neue">
                                Pick your war
                                <i class="material-icons refresh-war-list"
                                   data-toggle="tooltip" data-placement="right" title="Refresh the list">refresh</i>
                            </label>
                        </div>

                        <div class="form-group mb-0">
                            <div class="form-check mb-0">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox"> Hide private wars
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <img class="separator" src="img/sidebar-separator-top.png">

                            <div id="pick-war" class="games-list">
                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">This is spartaa!!</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <i class="material-icons">lock</i>
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <i class="material-icons">lock</i>
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <i class="material-icons">lock</i>
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <i class="material-icons">lock</i>
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <i class="material-icons">lock</i>
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <i class="material-icons">lock</i>
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <i class="material-icons">lock</i>
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <i class="material-icons">lock</i>
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <i class="material-icons">lock</i>
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <i class="material-icons">lock</i>
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>

                                <div class="war-item">
                                    <div class="name ellipsis">
                                        <span class="ellipsis">Yamakassi bitch hell yeah gros !</span>
                                    </div>
                                    <div class="people">
                                        <i class="material-icons">people</i>
                                        <span>2/6</span>
                                    </div>
                                </div>
                            </div>

                            <img class="separator" src="img/sidebar-separator-bottom.png">
                        </div>
                    </form>

                    <form class="col-xs-12 tab-pane fade" id="create-war" role="tabpanel">
                        <div class="form-group">
                            <label for="game-name" class="card-text bebas-neue">Name your war</label>
                            <input type="text" class="form-control" id="game-name" placeholder="Atomic Navy Warfare">
                            <small class="form-text text-muted font-italic">This will identify the game so other players know which mood your into.</small>
                        </div>

                        <div class="form-group">
                            <label for="max-players" class="card-text bebas-neue">Count your opponents</label>
                            <input type="number" step="1" class="form-control" id="max-players" min="2" value="2">
                            <small class="form-text text-muted font-italic">How many people should you slaughter during your little war?</small>
                        </div>

                        <div class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox"> This is a private war
                                </label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-footer">
                    <button class="btn btn-primary btn-block bebas-neue join-the-war">Join the war</button>
                </div>
            </div>

        </div>
    </div>
</div>
