<div class="container">
  <div class="row">
    <div class="col-xl-4 col-lg-5 col-md-6 col-12 ml-auto mr-auto">
      <form class="user-data-form" #resetPasswordForm="ngForm">

        <div class="alert alert-success text-left" *ngIf="emailSent">
          <strong>All set!</strong> Check your mailbox for the recovery email.
        </div>

        <div class="alert alert-info text-left" *ngIf="emailSending">
          Please wait while we send you the recovery email...
        </div>

        <p class="text-muted" *ngIf="!emailSent && !emailSending">
          Enter you email address below so we can send you a recovery email.
        </p>

        <div class="form-group p-relative">
          <div class="input-group">
            <input type="email" name="user-email" autocomplete="true" tabindex="1" #userEmail="ngModel"
                   class="form-control" id="user-email" required [(ngModel)]="email" [pattern]="emailPattern"
                   [class.not-empty]="!isEmpty(userEmail.value)" [disabled]="emailSending || emailSent">
            <label for="user-email">Email</label>
          </div>
        </div>

        <div class="form-group p-relative">
          <button [disabled]="emailSending || emailSent || !resetPasswordForm.form.valid" (click)="sendRecoveryEmail(email)"
                  class="btn btn-dark btn-lg btn-block text-uppercase btn-submit cursor-pointer" tabindex="2">
            <ng-container *ngIf="emailSending">
              <div class="loading-spinner">
                <svg viewBox="0 0 64 64">
                  <circle transform="translate(32,32)" r="26"></circle>
                </svg>
              </div>
            </ng-container>

            Reset my password
          </button>
        </div>

      </form>

      <p class="text-center">
        <small>
          Remember your password? <a routerLink="/log-in" tabindex="3">Log in</a>.
        </small>
      </p>
    </div>
  </div>
</div>
