<div class="commands">
    <div class="card card-block text-xs-center {{ commandType }}">
        <h4 class="card-title bebas-neue text-xs-left">{{ commandTitle }}</h4>
        <ul class="card-text text-xs-left mb-0">{{ commandDescription }}</ul>
        <button id="start-game" class="mt-1 btn btn-primary btn-block bebas-neue {{ startGame }}">Start game</button>
        <button id="send-order" class="mt-1 btn btn-warning btn-block bebas-neue {{ sendOrder }}" disabled>Send order</button>
    </div>
</div>
